<h3 class="registro">Registarse</h3>
<form action="/formulario" method="POST">
  <label for="Id"></label>
  <input
    type="number"
    name="id"
    placeholder="Id"
    [(ngModel)]="patient.id"
    [disabled]="mode === 'edit'"
  />
  <button type="submit" style="margin-left: 20px" (click)="getPatient()">
    Consultar
  </button>
  <br />
  <br />
  <label for="Nombre"></label>
  <input
    type="text"
    id="nombre"
    name="nombre"
    placeholder="Nombre"
    [(ngModel)]="patient.nombre"
    [disabled]="mode === 'edit'"
  />
  <br />
  <br />
  <label for="Apellido"></label>
  <input
    type="text"
    id="apellido"
    name="apellido"
    placeholder="Apellido"
    [(ngModel)]="patient.apellido"
    [disabled]="mode === 'edit'"
  />
  <br />
  <br />
  <label for="fecha de nacimiento">Fecha de nacimiento </label>
  <input
    type="date"
    id="fecha de nacimiento"
    name="fecha de nacimiento"
    placeholder="Fecha de nacimiento"
    [(ngModel)]="patient.fecha_nacimiento"
    [disabled]="mode === 'edit'"
  />
  <br />
  <br />
  <label for="dirección"></label>
  <input
    type="text"
    id="dirección"
    name="dirección"
    placeholder="Dirección"
    [(ngModel)]="patient.direccion"
  />
  <br />
  <br />
  <label for="barrio"></label>
  <input
    type="text"
    id="barrio"
    name="barrio"
    placeholder="Barrio"
    [(ngModel)]="patient.barrio"
  />
  <br />
  <br />
  <label for="telefono"></label>
  <input
    type="number"
    id="telefono"
    name="telefono"
    placeholder="Telefono"
    [(ngModel)]="patient.telefono"
  />
  <br />
  <br />
  <button *ngIf="mode === 'add'" type="submit" (click)="addPacient()">
    Agregar
  </button>
  <button *ngIf="mode === 'edit'" type="submit" (click)="updatePacient()">
    Editar
  </button>
  <button style="margin-left: 20px;" type="submit" (click)="clear()">Limpiar</button>
  <button style="margin-left: 20px;" type="submit" (click)="deletePacient()">Eliminar</button>
</form>
