<app-menu></app-menu>
<div
  class="card"
  style="
    padding: 20px;
    margin: auto;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
  "
>
  <h3 class="card-title" style="margin: auto">Pacientes</h3>
  <form>
    <div >
      <div class="mb-3">
        <label for="id" class="form-label">Identificación</label>

        <div style="display: flex; flex-direction: row;">
          <div>
            <input
            type="number"
            class="form-control"
            id="id"
            name="id"
            [(ngModel)]="patient.id"
            [disabled]="mode === 'edit'"
          />
          </div>
          
          <div>
            <button
              class="btn btn-primary"
              type="submit"
              style="margin-left: 20px"
              (click)="getPatient()"
            >
              Consultar
            </button>
          </div>
        </div>
        
      </div>
    </div>

    <div class="mb-3">
      <label for="Nombre" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="nombre"
        [(ngModel)]="patient.nombre"
        [disabled]="mode === 'edit'"
      />
    </div>

    <div class="mb-3">
      <label for="Apellido" class="form-label">Apellido</label>
      <input
        type="text"
        class="form-control"
        id="apellido"
        name="apellido"
        [(ngModel)]="patient.apellido"
        [disabled]="mode === 'edit'"
      />
    </div>

    <div class="mb-3">
      <label for="fecha de nacimiento" class="form-label"
        >Fecha de nacimiento</label
      >
      <input
        type="date"
        class="form-control"
        id="fecha de nacimiento"
        name="fecha de nacimiento"
        [(ngModel)]="patient.fecha_nacimiento"
        [disabled]="mode === 'edit'"
      />
    </div>

    <div class="mb-3">
      <label for="direccion" class="form-label">Dirección</label>
      <input
        type="text"
        class="form-control"
        id="direccion"
        name="direccion"
        [(ngModel)]="patient.direccion"
      />
    </div>

    <div class="mb-3">
      <label for="barrio" class="form-label">Barrio</label>
      <input
        type="text"
        class="form-control"
        id="barrio"
        name="barrio"
        [(ngModel)]="patient.barrio"
      />
    </div>

    <div class="mb-3">
      <label for="telefono" class="form-label">Telefono</label>
      <input
        type="text"
        class="form-control"
        id="telefono"
        name="telefono"
        [(ngModel)]="patient.telefono"
      />
    </div>

    <div class="mb-3">
      <label for="contrasena" class="form-label">Contraseña</label>
      <input
        type="text"
        class="form-control"
        id="contrasena"
        name="contrasena"
        [(ngModel)]="patient.contrasena"
      />
    </div>

    <button
      class="btn btn-success"
      *ngIf="mode === 'add'"
      type="submit"
      (click)="addPacient()"
    >
      Agregar
    </button>
    <button
      class="btn btn-success"
      *ngIf="mode === 'edit'"
      type="submit"
      (click)="updatePacient()"
    >
      Editar
    </button>
    <!-- <button
      class="btn btn-info"
      style="margin-left: 20px"
      type="submit"
      (click)="clear()"
    >
      Limpiar
    </button>
    <button
      class="btn btn-danger"
      style="margin-left: 20px"
      type="submit"
      (click)="deletePacient()"
    >
      Eliminar
    </button> -->
  </form>
</div>
